.project__article {
    margin: 5rem;
}

.card {
    box-shadow: none !important;
}

.card-image:hover {
    opacity: 0.8;
}

.project__section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

@media only screen and (min-width: 993px) {
    .project__article {
        width: 25%!important;
    }
}

@media only screen and (max-width: 1296px) {
    .project__article {
        width: 39%!important;
    }
}