.table__back-projects {
    margin-top: 4em;
}

.projects__list {
    margin-bottom: 2rem;
}

.input__file-cover-project {
    margin-bottom: 2em;
}

.label__file-cover {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 2rem;
}

.btn__toggle-supprimer:hover {
    color: red;
}

.cover__photo-project {
    position: relative;
    left: 90px;
    top: 52px;
    color: #1c06f4;
    font-weight: bolder;
    font-size: larger;
}

.btn__toggle-updateCover:hover {
    color: rgb(156, 146, 51);
}

.update__project {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.preview__update-project {
    width: 18rem !important;
}

.isConfirm__form-update-project {
    color: green;
}

.ErrorUpload__coverPhotoProject {
    color: red;
}

.title__backOffice-Project:hover {
    color: grey;
}

.card__button-flex-projet {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: space-between;
    justify-content: space-around;
}