li {
    margin: 1rem;
}

nav {
    box-shadow: none;
}

.login {
    position: absolute;
    top: 0;
    right: 10px;
}

.logo_header {
    width: 80px;
}

.insta {
    position: absolute;
    top: 0;
    left: 10px;
    width: 25px;
    margin-top: 1rem;
}

.insta:hover {
    width: 28px;
}

@media (min-width:992px) {
    .sidenav-trigger {
        position: absolute;
        top:-200px;
    }
}
