.contact__banner {
    border-top: 1px solid #0000006e;
    border-bottom: 1px solid #0000006e;
    margin: 2em 0em 2em 0em;
    text-align: initial;
}

.contact__banner-p {
    margin-left: 2em;
    font-size: 1.2em;
}

.contact__button {
    border-radius: 0.5em;
}

.contact__button:hover {
    background-color: #42424240 !important;
    color: black;
}

.contact__img {
    max-width: 70%;
}

.contact__aticle {
    margin: 1em;
}

@media only screen and (max-width: 1004px) {
    .contact__img {
        max-width: 38%;
    }
}

@media only screen and (max-width: 992px) {
    .contact__img {
        max-width: 30%;
    }

    .row .col {
        width: 100% !important;
        margin-left: auto;
        left: auto;
        right: auto;
    }
}

@media only screen and (max-width: 690px) {
    .contact__img {
        max-width: 40%;
    }
}