.about {
    display: flex;
    flex-wrap: wrap;
    font-size: 1rem;
}

.about__banner {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    margin-bottom: 2rem;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.about__banner-title {
    width: 200px;
    font-size: 1.5rem;
    margin-right: 2rem;
}

.about__banner-description {
    font-size: 1rem;
}

.about__img {
    height: 60vh;    
}

.about__img img{
    height: 100%;
}

.about__description {
    height: 100%;
    display: flex;
    align-items: center;
}

.contact__form {
        margin-top: 4em;
}

