.furniture__card {
    margin-bottom: 2rem;
}

.furniture__section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.furniture__card-field {
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
