
.block {
    min-height: 100vh;
    background-color: #fff;
        font-family: 'Times New Roman', Times, serif;
        display: flex;
        position: relative;
        overflow: hidden;
        align-items: center;
        justify-content: center;
        font-size: 6rem;
    }
    
    .dynamic-txts {
        color: black;
        font-size:10rem;
        font-weight: 500;
    }
    
    .dynamic-txts::after{
        content: "";
        position: absolute;
        left: 45%;
        height: 20%;
        width: 100%;
        background: #fff;
        border-left: 2px solid black;
       animation: typing 12s steps(20) infinite;
    }
    @keyframes typing {
        100%{ 
            left:100%;
            margin: 0 -3rem 0 3rem;
        }
    }
