<h1>Bonjour Romain,</h1>

<p>Tu as reçu un nouveau message de {{firstname}} {{lastname}}</p>
<p>Voici le contenu de son message : </p>
<p>{{text}}</p>
<p>Si tu souhaites la recontacter, voici son adresse mail : {{from}}</p>
