PORT=3001
DATABASE_URL=postgresql://dbuser:secretpassword@database.server.com:5432/mydb ou DATABASE_URL=postgresql://dbuser:secretpassword@localhost/dbname
CORS_DOMAINS=localhost
API_DOCUMENTATION_ROUTE=/api-docss
ACCESS_TOKEN_SECRET=enterthenumber
